<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- General banner, scrollbar and table views styles -->
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/index.css">

    <!-- "Page" style -->
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/editor-style.css">

    <!-- Editor lib CDN -->
    <script src="/static/ckeditor5-38.0.1/build/ckeditor.js"></script>

    <script src="/static/js/config.js"></script>
    <script src="/static/js/save_doc.js"></script>

    <title>UFD EDITOR</title>
</head>
<body>
    <nav class="top-orange-bar">
        <span class="ufd-text" onclick="window.location.href = '/'">UFD</span>
        <input class="new-title" type="text" id="doc_title" value="Documento 1">
        <button class="save-btn" type="button" onclick="saveDoc()">Guardar Documento</button>
    </nav>
    <div class="options-container">
        <div class="doc-options">
            <label for="doc_type">Tipo Documento</label>
            <select id="doc_type">
                <option value="3">Hoja Informativa de Inscripciones</option>
                <option value="4">Hoja Informativa de Reinscripciones</option>
                <option value="5">Solicitud de Inscripción</option>
                <option value="6">Solicitud de Reinscripción</option>
                <option value="8">Anuencia de Formación y Participación Deportiva</option>
                <option value="16">Solicitud de Reinscripción</option>
                <option value="20">Hoja Informativa de Reinscripciones con Pase Directo</option>
                <option value="23">Guías de Reinscripción</option>
                <option value="25">Consentimiento Médico</option>
            </select>
            <label for="doc_level">Nivel</label>
            <select id="doc_level">
                <option value="1">Preescolar</option>
                <option value="2">Primaria</option>
                <option value="3">Secundaria</option>
                <option value="4">Preparatoria</option>
                <option value="5">Técnico Superior Universitario</option>
                <option value="6">Licenciatura</option>
                <option value="7">Maestría</option>
                <option value="8">Doctorado</option>
            </select>
            <label for="doc_calendar">Calendario</label>
            <select id="doc_calendar">
                <option value="Enero - Abril 2023">Enero - Abril 2023</option>
                <option value="Mayo - Agosto 2023">Mayo - Agosto 2023</option>
                <option value="Septiembre - Diciembre 2023">Septiembre - Diciembre 2023</option>
            </select>
            <input type="radio" id="doc_campus" value="1">Campus Pachuca
            <input type="radio" id="doc_campus" value="2">Campus León
            <input type="checkbox" id="posted"><label for="posted">Publicar</label>
        </div>
    </div>

    <!-- This is the container of the document editor -->
    <div class="document-editor" id="document-editor">
        <!-- Instance the toolbar above the editable body -->
        <div class="document-editor__toolbar" id="document-editor__toolbar"></div>
        <!-- This container is for styling the editable area -->
        <div class="document-editor-container" id="document-editor-container">
            <!-- Editable area -->
            <div class="document-editor-container__editable" id="document-editor-container__editable">
            </div>
        </div>
    </div>
    <!-- Call the editor.js config -->
    <script src="/static/ckeditor5-38.0.1/config.js"></script>

    <div class="doc-info" id="doc-info">Carácteres: 0 | Palabras: 0</div>

</body>
</html>
