body {
    margin: 0;
    background-color: whitesmoke;
}

.ufd-text {
    display: flex;
    width: 10%;
    height: 100%;
    background-color: rgb(143, 77, 2);
    font-weight: bold;
    color: #efefef;
    align-items: center;
    justify-content: center;
}

/* Style of the orange bar at the top page */
.top-orange-bar {
    display: flex;
    height: 7vh;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 136, 0);
    align-items: center;
}

.new-title {
    display: flex;
    color: #efefef;
    margin-left: 30%;
    font-weight: bold;
    font-size: small;
    border: none;
    background-color: rgb(255, 136, 0);
    text-align: center;
}

.save-btn {
    display: flex;
    margin-left: auto;
    border-radius: 10%;
}

/* The title and calendar area */
.title-calendar {
    display: flex;
    margin: 0;
    padding: 0.5%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.doc-icon {
    display: flex;
    height: 3%;
    width: 3%;
    min-width: 30px;
    margin-left: 2%;
    margin-right: -65%;
}

.index-title {
    display: flex;
    margin-left: 110px;
}

@media screen and (max-width: 800px) {
    .index-title {
        display: flex;
        margin-left: 200px;
    }
}

/* The options sections */
.options-container {
    display: flex;
    margin: 0;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
}

/* The centered area container */
.float-container {
    display: flex;
    background-color: #fdfdfd;
    width: 80%;
    height: 80%;
    padding: 0.5%;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

#docs_table {
    text-align: center;
}

.doc-info {
    display: flex;
    margin: 0;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    height: 20px;
    justify-content: space-between;
    flex-direction: row;
}
